* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-1 {
    background: url(/images/bdd-background.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    position: relative;
}

.nav-container {
    width: 90vw;
    height: 10vw;
    padding: 0.1rem 0 0 5rem;
    position: absolute;
    top: 4vh;
}

.row-nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    /* right: 3vw; */
}

.row-nav a {
    font-family: 'TheMixSemiBold';
    font-weight: 500;
    font-size: .85rem;
    line-height: 1.2rem;
    letter-spacing: 1.5px;
    padding-right: 20px;
}

.bdd-logo {
    max-height: 100px;
    width: auto;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin: auto 15px;
}

.links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.links a {
    text-decoration: none;
    color: rgb(241, 232, 232);
    font-family: 'TheMixSemiBold';
}

.container-text {
    position: relative;
    top: 100px;
    left: 25px;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 3.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}


/* Design Section 2 */

.section-2 {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f5f5f5;
    position: relative;
}

.section-2 h1 {
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    line-height: 3.5rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.foundations-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.foundation-item {
    text-align: center;
    padding: 25px;
    width: 250px;
    height: 500px;
    background-color: rgb(163, 153, 153);
}

.foundation-item p {
    font-family: TheMixSemiBold;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: aqua;
}


/* Design Section 3 */

.section-3 {
    background: url(/images/section-3-background.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.title-section-3 {
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}

.grey-fade-over {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #323232;
    opacity: 0.7;
}

.video-background {
    background: url(/images/video.jpg);
    opacity: 1;
    margin: 150px auto;
    width: 50vw;
    height: 50vh;
}


/* Design section 4 */

.section-4 {
    background: url(/images/join-bdd-1.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}